<div class="pb-6">
    <PageTitle>@Title</PageTitle>
    <div class="d-flex justify-space-between align-center">
        <div>
            <MudText Typo="Typo.h3">@Header</MudText>
            <MudText Typo="Typo.body1">@SubHeader</MudText>
        </div>
        @if (Actions is not null)
        {
            <div class="d-flex gap-2">
                @Actions
            </div>
        }
    </div>
</div>
@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Header { get; set; }

    [Parameter]
    public required string SubHeader { get; set; }

    [Parameter]
    public RenderFragment? Actions { get; set; }
}
